{% load static %}
<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>Hakkımızda - Pureglow</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/img" href="{% static 'img/pureglow.png' %}">
        <link rel="stylesheet" href="{% static 'css/aboutus.css' %}" type="text/css">

    </head>
    <body id="body">
        <header>
            <div id="left-header">
                <a href="{% url 'home' %}"><img id="logo" src="{% static 'img/pureglow.png' %}" width="60px" height="85px" title="" alt="logo"></a>
                <span id="title"><h3>pureglow</h3></span>
            </div>
            <div id="right-header">
                <div id="login-signup" class="dropdown">
                    <button class="dropbutton"><img src="{% static 'img/login-signup.png' %}" width="30px"><span class="button-text">Giriş/Kayıt</span></button>
                    <div class="dropdown-content">
                    <a href="{% url 'login' %}">Giriş Yap</a>
                    <a href="{% url 'signup' %}">Kayıt Ol</a>
                    </div>
                </div>
                <div id="bask-lang">
                    <ul type="none">
                        <li><a href="#"><img src="{% static 'img/shopping-basket.png' %}" width="40px" title="" alt=""></a></li>
                        <li><a href="{% url 'homeng' %}"><img src="{% static 'img/eng.png' %}" width="40px" title="" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <nav align="center">
            <div class="menu">
                <ul type="none">
                    <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'test' %}">Vücut Testi</a></li>
                    <li><a href="{% url 'products' %}">Ürünler</a></li>
                    <li><a href="{% url 'tips' %}">Hap Bilgiler</a></li>
                </ul>                
            </div>
        </nav>
        <article align="center" id="content_1" >
            <div class="content">
                <img src="{% static 'img/about-us.png' %}" title="" alt="about-us">
                <h1>HAKKIMIZDA</h1>
                <p>Güzellik ve sağlık arasındaki dengeyi korumayı amaçlayan bir ekibiz. Herkesin benzersiz cilt ihtiyaçlarını karşılamak için buradayız. Cilt tipinize, tonunuza ve ihtiyaçlarınıza uygun ürünleri sunmak için uzman tavsiyeler ve geniş bir ürün yelpazesiyle sizlerle birlikteyiz.
                    <br/><br/>
                    Sağlıklı, güvenli ve etkili ürünler sunarak, en iyi cilt bakımı deneyimini yaşamanızı sağlıyoruz. Profesyonel ekibimiz, size en iyi cilt bakım rutinini oluşturmanıza yardımcı olmak için burada. Kişisel güzellik yolculuğunuzda bizimle birlikte olun ve en sağlıklı, en parlak cilde ulaşın!
                </p>    
                <p>Bu oluşumu meydana getiren ekip:
                    <ul align="left" type="none">
                        <li><img id="pp" src="{% static 'img/pp.png' %}" title="" alt="ysc" width="150px" height="150px">
                            <span>Yavuz Selim Çoraklı</span>
                            <a href="https://www.linkedin.com/in/yavuz-selim-corakli"><img src="{% static 'img/linkedin.png' %}" width="30px" title="" alt="linkedin"></a>
                        </li>
                        <li><img id="pp" src="{% static 'img/pp.png' %}" title="" alt="es" width="150px" height="150px">
                            <span>Emir Sağlam</span>
                            <a href="https://www.linkedin.com/in/emir-sağlam-530a25246"><img src="{% static 'img/linkedin.png' %}" width="30px" title="" alt="linkedin"></a>
                        </li>
                        <li><img id="pp" src="{% static 'img/pp.png' %}" title="" alt="msy" width="150px" height="150px">
                            <span>Münevver Şule Yolalan</span>
                            <a href="https://www.linkedin.com/in/msuleyolalan378"><img src="{% static 'img/linkedin.png' %}" width="30px" title="" alt="linkedin"></a>
                        </li>
                        <li><img id="pp" src="{% static 'img/pp.png' %}" title="" alt="et" width="150px" height="150px">
                            <span>Esra Türk</span>
                            <a href="https://www.linkedin.com/in/esra-türk-152561255"><img src="{% static 'img/linkedin.png' %}" width="30px" title="" alt="linkedin"></a>
                        </li>
                        <li><img id="pp" src="{% static 'img/pp.png' %}" title="" alt="dc" width="150px" height="150px">
                            <span>Dilara Çatalçam</span>
                            <a href="https://www.linkedin.com/in/dilara-çatalçam-064453257"><img src="{% static 'img/linkedin.png' %}" width="30px" title="" alt="linkedin"></a>
                        </li>
                    </ul>
                </p>    
            </div>
        </article>
        <footer>
            <div id="top-footer">
                <div id="top-left-footer">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Pureglow
                                </th>
                                <th>
                                    İçerikler
                                </th>
                                <th>
                                    Sosyal Medya
                                </th>
                                <th>
                                    Mobil Uygulama
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul id="footer-links-1" type="none">
                                        <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
                                        <li><a href="{% url 'aboutus' %}">Hakkımızda</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul id="footer-links-2" type="none">
                                        <li><a href="{% url 'test' %}">Vücut Testi</a></li>
                                        <li><a href="{% url 'products' %}">Ürünler</a></li>
                                        <li><a href="{% url 'tips' %}">Hap Bilgiler</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul id="footer-links-3" type="none">
                                        <li><a href="https://www.facebook.com/pureglow"><img src="{% static 'img/facebook.png' %}" width="35px" title="" alt="facebook"><span class="link-text">Facebook</span></a></li>
                                        <li><a href="https://www.instagram.com/pureglow"><img src="{% static 'img/instagram.png' %}" width="35px" title="" alt="instagram"><span class="link-text">Instagram</span></a></li>
                                        <li><a href="https://www.x.com/pureglow"><img src="{% static 'img/twitter.png' %}" width="35px" title="" alt="x"><span class="link-text">X</span></a></li>
                                        <li><a href="https://www.youtube.com/pureglow"><img src="{% static 'img/youtube.png' %}" width="35px" title="" alt="youtube"><span class="link-text">Youtube</span></a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul id="footer-links-4" type="none">
                                        <li><a href="https://itunes.apple.com/app/pureglow"><img src="{% static 'img/app-store.png' %}" width="30px" title="" alt="app-store"><span class="link-text">App Store</span></a></li>
                                        <li><a href="https://play.google.com/store/apps/pureglow"><img src="{% static 'img/google-play.png' %}" width="30px" title="google-play" alt=""><span class="link-text">Google Play</span></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <div id="top-right-footer">
                    <div id="logo">
                        <img id="logo" src="{% static 'img/pureglow.png' %}" title="" alt="logo" width="100px" height="125px">
                    </div>
                    <div class="dropdown">
                        <button id="comm-email" class="dropbutton"><img src="{% static 'img/email.png' %}" title="" alt="email" width="30px"><span class="button-text">pureglow@mail.com</span></button>
                        <div class="dropdown-content">
                            <span>pureglow@mail.com</span>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button id="comm-tel" class="dropbutton"><img src="{% static 'img/tel.png' %}" title="" alt="tel" width="30px"><span class="button-text">0212 000 1905</span></button>
                        <div class="dropdown-content">
                            <span>0212 000 1905</span>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button id="comm-address" class="dropbutton"><img src="{% static 'img/address.png' %}" title="" alt="address" width="30px"><span class="button-text">Seyrantepe Mah., Metin Oktay Cad., Aslantepe, Sarıyer/İstanbul</span></button>
                        <div class="dropdown-content">
                            <span>Seyrantepe Mah., Metin Oktay Cad., Aslantepe, Sarıyer/İstanbul</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom-footer">
                © 2024, Kocaeli Üniversitesi Yazılım Mühendisliği bölümündeki birkaç öğrenci tarafından ❤️ ile tasarlanmıştır.
            </div>
        </footer>
    </body>
</html>