
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/pureglow.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/pureglow.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
</head>
<body>
    
    <section>
        <h1>Cilt Tipi Testi</h1>
        <p>YEYOOOO</p>
        <div id="questions"></div>
        <div id="answer"></div>
    </section>

    <script src="{% static 'js/test.js' %}"></script>




    <div id="yagli" style="display: none;">
        <li><a href="{% url 'yagli' %}">Yağlı Cilt Tipi Ürünleri</a></li>
    </div>

    <div id="karma" style="display: none;">
        <li><a href="{% url 'karma' %}">Karma Cilt Tipi Ürünleri</a></li>
    </div>

    <div id="kuru" style="display: none;">
        <li><a href="{% url 'kuru' %}">Kuru Cilt Tipi Ürünleri</a></li>
    </div>

    <div id="hassas" style="display: none;">
        <li><a href="{% url 'hassas' %}">Normal Cilt Tipi Ürünleri</a></li>
    </div>


</body>
</html>